<div class="about">

<div class="aboutPIC">
  <%= image_tag ("about.jpg"), size:"300x460" %>
</div>

<div class="aboutBox">

<div class="aboutTitle">ABOUT BABITA MEXICUISINE</div>

<p class="aboutTxt">Babita Mexicuisine is the renowned Mexican restaurant owned and operated by Chef Roberto Berrelleza.  Babita specializes in gourmet Mexican cuisine often found in Mexico City.  On a visit, you'll find such dishes as Chiles en Nogada, Lamb Shank Mixiote and the classic Chile Relleno Oaxaqueno.  Along with the classics, Babita offers unique culinary creations such as the devilishly hot, award winning Shrimp “Topolobampo” and the Chicken and Shrimp “Elba”.</p>

<p class="aboutTxt">Chef Roberto was born in the little fishing port of Topolobampo, in the state of Sinaloa, Mexico.  The Chef’s culinary career began in the front of the house at various French-style establishments; with the high point being the manager/maitre’d for the Hollywood Brown Derby. Awakened by this French culinary and wine experience, Chef Roberto opened Babita Mexicuisine in 1999 to focus on his Mexican cuisine.</p>
 
<p class="aboutTxt">Every dish from Babita’s kitchen is prepared by Chef Roberto.  Guests are delighted and challenged by the Chef’s creations, often involving such unique ingredients as Zucchini blossoms, Cuitlacoche, Prickly Pear and Guamuchil. Expect an intimate, one-of-a-kind dinning experience at Babita Mexicuisine!</p>
</div><!--end aboutTXT div-->
</div><!--end about div-->
