<div class="menu"> 

    <div class="menuBox">

    <p class="menuTitle">DINNER MENU</p>
    <p class="menuTitle"><a href="images/babita-dinner-menu.pdf" title="Wine List" target="_blank">Download PDF</a></p>
<hr />

      <p class="menuHeading">• APPETIZERS •
      </p>
    <p>PANUCHOS YUCATECOS<br />
  <em>Tostadas w/ black beans, pollo pibil, pickled cabbage-onion (2 per order)</em><br />
                  12.95                  <br />
      </p>
                <p>FRESH GUACAMOLE<br />
                  <em>Prepared to order, habanero timbale</em><br />
                9.95                </p>
                <p>SAUTEED MUSHROOMS<br />
                  <em>Onion, garlic, white wine and mole sauce</em><br />
          12.95                </p>
          <p>SOPA NUEVA<br />
          <em>soup of the day</em><br />
                8.95                </p>
          <p>BRENDA SALAD<br />
            <em>Lettuce, tomato, carrot, mango, nopales, jack cheese with mango vinaigrertte</em><br />
8.95          </p>
          <p>BABITA GREEN SALAD<br />
            <em>Tomato, cucumber, nopales and chile guacamaya  vinaigrette</em><br />
8.95          </p>
          <p>BABITA CAESAR  SALAD<br />
            <em>Classic preparation, real egg and anchovy</em><br />
8.95          </p>
                <p>SHREDDED PICKLED SALAD<em><br />
                Onion, cabbage, salsamex, cotija and lettuce with house vinaigrette</em><br />
8.95                  <br />
          </p>
          <p>CEVICHE SOPE “WITUSI”<br />
            <em>Citrus marinated snapper, lacing of beans and carrot julienne</em><br />
9.95          </p>
          <p>SOPE SAMMY<br />
            <em>Beans, shredded chicken, iceberg lettuce, salsamex, jack cheese and jus</em><br />
9.95          </p>
          <p>TEQUILA CURED SALMON SOPE<br />
            <em>Lacing of beans, chopped onion, cilantro, cream and caviar</em><br />
12.95          </p>
          <p>CALAMARES FRITOS <br />
            <em>Habanero cocktail sauce</em><br />
12.95          </p>
          <p>GUERITOS RELLENOS<br />
            <em>Stuffed yellow chiles with ceviche of salmon, savory strawberry sauce</em><br />
12.95          </p>
          <p>CILANTRO MARGARITA SORBET<br />
            <em>Tequila reposado topped with snapper ceviche and caviar</em><br />
12.95          </p>
          <p>FRIED MACHO BANANAS<br />
            <em>Served with cremamex and balsamic reduction</em><br />
12.95          </p>

      <hr />

      <p class="menuHeading">• ENTREES •          </p>
      <p>COCHINITA PIBIL <br />
            <em>Achiote pork, baked in banana leaves, served with pickled cabbage and onion </em><br />
            21.95<em><br />
            </em></p>
                <p>ROASTED PORK LOIN<br />
                  <em>Over grilled nopales, with a red wine reduction, chipotle and plum sauce</em><br />
22.95<br />
          </p>
                <p>MIXIOTE LAMB SHANK<br />
                  <em>Marinated in chile-beer wet rub slowly baked-steamed in beer</em><br />
26.95<br />
          </p>
                <p>NEW YORK AND SHRIMP, “MAVIRI”<br />
                  <em>Pan-grilled, with tequila, pumpkin seed-cilantro sauce</em><br />
</p>
          <p>CHICKEN AND SHRIMP “ELBA”<br />
                      <em>Sautéed in tequila, banana-chipotle sauce over chayote gratin </em><br />
            25.95<br />
          </p>
                <p>BARBACOA. “Beef Cheeks”<br />
                  <em>Spice- braised tender, served with chopped cilantro and onion</em><br />
21.95<br />
                </p>
                <p>ENCHILADAS DE POLLO EN MOLE POBLANO<br />
                        <em>Diced onion, cilantro, cremamex and cheese</em><br />
20.95<br />
          </p>
                <p>FILET MIGNON AND SCALLOPS<br />
                  <em>Pan-grilled,with cuitlacoche triple cooked garlic butter</em><br />
29.95<br />
                </p>
                <p>OAXACAN RELLENO<br />
                  <em>Ancho chile stuffed w/capers, olives, almonds, raisins, pork, with mole poblano</em><br />
26.95</p>

      <hr />
            
      <p class="menuHeading">• SEAFOOD •            </p>
    <p>FRESH RED SNAPPER   SAUTEED<br />
                  <em>Creamy salsa de pomegranate</em><br />
21.95<br />
                </p>
                <p>ENCHILADAS DE CAMARON<br />
                  <em>Garlic marinated shrimp, white wine and mole poblano</em><br />
                  21.95<br />
                </p>
                <p>BAKED ATLANTIC SALMON<br />
                  <em>Cuitlacoche sauce, oaxaca cheese over sliced tomato vinaigrette</em><br />
22.95<br />
                </p>
                <p>SAUTEED SHRIMP “topolobampo”<br />
                  <em>Super hot habanero, mustard, tomato and white wine sauce </em><br />
                22.95<br />
                </p>
                <p>SAUTEED COLOSSAL SEASCALLOPS<br />
                  <em>Over risotto, “squid ink” sauce </em><br />
                29.95 <br />
                </p>
                <p>CRAB CHILE RELLENO<br />
                    <em>Roasted poblano chile stuffed with crab meat ragout over crema de jalapeno</em><br />
26.95<br />
                </p>
                
                <hr />
          <p>GIFT CERTIFICATES<br />
            TAKE OUT- PRIVATE PARTIES- CATERING<br />
                  18 % Gratuity will be Added to Parties of 7 or More<br />
      </p>
  </div><!--end menu content-->
  </div><!-- end bgMid-->
<div class="menuBGbottom"></div>
</div><!-- end menu div -->
