<div class="menu"> 

    <div class="menuBox">

    <p class="menuTitle">DRINKS</p>
    <p><a href="images/babita-wine-list.pdf" title="Drinks" target="_blank">Download PDF</a></p>
    <hr />
    <p class="menuHeading">• SPARKLING WINES •</p>
    Jean Philippe “Brut 2008” France                                                      <br />
G:
7.95 | B:      26.00<br />
  <p>Vega Barcelona “Brut Cava Reserva” N.V.<br />
    B: 
28.00<br />
    <br />
    Roederer Estate, Sonoma, Anderson Valley “Brut” N.V.<br />
    B: 
45.00<br />
    <p>Ruggeri, Proseco, Gold Label , Italy N.V.<br />
      B: 40.00<br />
      <p>Louis Roederer “CRISTAL”, Reims, France 2002 <br />
        B: 
        375.00

    <p class="menuHeading">• CHARDONAY •</p>
    Maddalena Vineyards, Monterey 2009<br />
    G: 
7.95 | B:     28.00       <br />
        <p>Fess Parker, Santa Barbara County 2008<br />
          B: 
          35.00<br />
        <p>Heitz Cellars, Napa valley 2008<br />
          B: 
39.00 

    <p class="menuHeading">• VINHO VERDE •</p>

    Aveleda, Albarinho Portugal 2007<br />
            B: 28.00<br />
  
<p>Casal Garcia, Portugal 2010 <br />
        B:
        24.00
          
    <p class="menuHeading">• VIOGNIER •</p>
    Eberle, Mill Road Vineyards, Paso Robles, 2008<br />
            B: 45.00 <br />
          <p>Edward Sellers, Paso Robles, 2007<br />
          B:
55.00
          
          <p class="menuHeading">• MUSCAT CANELLI •</p>
    Eberle, “Paso Robles” 2004<br />
            B: 
            30.00
            
          <p class="menuHeading">• SAUVIGNON BLANC •</p>
      Pedroncelli, “East Side Vineyard Selection” Sonoma 2000<br />
            B:
            23.00<br />
          <p>Dancing Bull “California” 2005<br />
            G: 
            7.95 | B:        23.00


    <p class="menuHeading">• WHITE ZINFANDEL •</p>
            Maddalena Vineyards 2006                                                               <br />
            G:
            6.95         | B: 20.00


          <p class="menuHeading">• JOHANNISBERG RIESLING •</p>
    Highfield, Marlboro, NewZealand 2010<br />
            B:
            33.00

          <p class="menuHeading">• GEWURZTRAMINER •</p>
            <p>Tarrica Cellars Central Coast “Limited release”  2010<br />
            B: 25.00</p>
            
    <p class="menuHeading">• CABERNET SAUVIGNON •</p>
        <p>Dry Creek Vineyards, Dry Creek Valley 2007 <br />
      B: 40.00
      </p>
        <p>San Simeon, Monterey 2005                                                              <br />
          G:
10.95 |    B: 35.00          </p>
        <p>Thornton, Cab-Merlot, Temecula. 2005                                                            <br />
          B: 50.00          </p>
        <p>Marcelina, Napa 2002                                                                                     <br />
          B: 60.00          </p>
        <p>The Mariner (Meritage) by Dry Creek Vineyards 2006                                   <br />
          B: 60.00          </p>
        <p>Raymond, Napa, “Reserve” 2002                                                                      <br />
          B: 75.00        </p>
        <p>Raymond, “GENERATIONS RESERVE”  2000                                        <br />
          B: 120.00</p>
        <p>Far Niente, “Cave Collection” 1997                                                                   <br />
        B: 250.00 </p>
<p class="menuHeading">• VINO SOLITARIO •</p>
        Niner Estates “Barbera” Boothjack Ranch, San Luis Obispo 2003                 <br />
      B: 38.00
      <p class="menuHeading">• MERLOT •</p>
        <p>San Simeon, Paso Robles 2006 <br />
      G:
10.95 | B:    35.00
      </p>
        <p>Raymond, Napa Valley “Reserve” 2000                                                         <br />
          B: 55.00          </p>
        <p>Markham, Napa Valley 2000                                                                         <br />
          B: 55.00          </p>
        <p>Trefethen, Napa Valley Estate 2004                                                              <br />
          B: 60.00          </p>
        <p>Uvada, Napa, Oakville 2000<br />
B: 60.00 </p>
      <p class="menuHeading">• PINOT NOIR •</p>
        <p>Frei Brothers, Russian River, Sonoma, “Reserve” 2007 <br />
      B: 50.00
      </p>
        <p>San Simeon, Monterey, 2008                                                            <br />
          G:
10.95 | B:      40.00          </p>
        <p>Carpe Diem, “Firepeak Vineyards”, Edna Valley 2007<br />
B: 60.00          </p>
        <p>En Route, Russian River Valley, LES POMMIERS 2009<br />
B: 120.00 </p>
<p class="menuHeading">• SYRAH / SHIRAZ (Australia) •</p>
        <p>Fess Parker, Santa Barbara, 2006<br />
          B: 45.00
        </p>
        <p>Final Cut, Montage, Australia 2006                                                                 <br />
        B:        35.00 </p>
      <p class="menuHeading">• CHILE •</p>
        <p>Santa Alicia, Carmenere, Reserve, Maipo Valley 2006 <br />
      B: 28.00</p>
        <p> Axel, “Colchagua Valley” Cabernet Sauvignon 2006                                              <br />
          B: 50.00          </p>
        <p>Axel Primero, “Meritage”, Colchagua Valley 2004                                                 <br />
          B: 60.00          </p>
        <p>Manzo de Velasco, 100% Cab-Sauvignon, Single Vineyard, “Curico Valley” 2004       <br />
          B: 65.00</p>
        <p> Domus Aurea, “Quebrada de Macul Vineyards”, Cab-Sauvignon 2003<br />
        B: 90.00 </p>
    <p class="menuHeading">• ARGENTINA •</p>
        <p>(White)      </p>
        <p> Finca “La Linda” White Torrontes 2007                                                             <br />
          B: 24.00          </p>
        <p>Belasco de Baquedano, “ROSE”. (Rosa de Argentina Malbec)  2008<br />
B: 30.00          </p>
        <p>(Red)</p>
        <p> Luigi Bosca, Reserva Malbec 2007                                <br />
          B: 45.00          </p>
        <p>Tri-Tono, “Mendoza” Malbec 2005                                                                     <br />
          B: 75.00          </p>
        <p>Enrique Foster, Lujan de Cuyo Mendoza Malbec (Ltd Edition) 2003    <br />
        B: 100.00 </p>
      <p class="menuHeading">• ITALY •</p>
        <p>Amarone De la Valpolicella “Campagnola” 2000 <br />
      B: 80.00
      </p>
        <p>Brunello di  Montalcino  “Capanna”  1998                                                         <br />
          B: 85.00          </p>
        <p>Montepulciano d’Abruzzo, Scarpone, 2007                                                      <br />
      B: 50.00 </p>
      <p class="menuHeading">• FRANCE •</p>
        <p>Joseph Drouhin, Bourgogne, Cote de Beaune 2007 <br />
      B: 75.00
      </p>
        <p>Joseph Drouhin, Bourgogne, Nuits-San-Georges 2007<br />
B: 110.00          </p>
        <p>Joseph Drouhin, Bourgogne, Volnay 2008<br />
B: 95.00 </p>
    <p class="menuHeading">• SPAIN •</p>
        <p>(White)        </p>
      <p>Paso de Barrantes, &quot;Albarino” Rias Baixas 2007                                                   <br />
      B: 45.00</p>
      <p>Martin Codax, “Albarino” Rias Baixas 2008<br />
        B: 30.00</p>
      <p>Naiades, 100% Verdejo, “La Seca, Rueda” 2005<br />
        B: 50.00</p>
      <p> (Red)</p>
      <p> Pico Madama, Monastrel-Petit Verdot, Jumilla 2006                                          <br />
        B: 65.00</p>
      <p> Finca Sandoval, (Syrah-Mourvedre-Boval). “Manchuela”, Cuenca 2006             <br />
      B: 80.00 </p>
      <p class="menuHeading">• VINO MEXICANO (Valle de Guadalupe) •</p>
        <p>Malagon Vinedos,El Grenache 100% 2008 <br />
      B: 40.00
      </p>
        <p>L. A. Cetto. “Reserva Privada”. Cabernet Sauvignon 2005                                 <br />
          B: 40.00          </p>
        <p>L. A. Cetto. Reserva Privada  Nebbiolo 2004<br />
B: 40.00          </p>
        <p>Chateau Camou, Old Vines “Zinfandel” 2002                                                  <br />
          B: 75.00</p>
        <p>Chateau Camou, “El Gran Vino Tinto” Cab*Cab-Franc*Merlot 2002<br />
B: 75.00</p>
        <p> Baron Balche’ “Reserva Especial” Cab*Cab-Franc*Merlot*Syrah.2005<br />
B: 75.00 </p>
      <p class="menuHeading">• DESSERT WINE •</p>
        <p>Bonny Doon, “Vin de Glaciere Muscat” <br />
      B: 35.00
      </p>
        <p>Baily "Serenity” Chardonnay “Late Harvest” Temecula 2000                          <br />
        B: 35.00 </p>
      <p class="menuHeading">• PORT (Portugal) •</p>
        <p>Graham’s Six Grapes N.V.   “Reserve”<br />
          B: 6.00 
        </p>
        <p>Graham’s 10 Years Old Tawny<br />
B: 10.00          </p>
        <p>Graham’s 20 Years Old Tawny<br />
B: 15.00          </p>
        <p>Ramos Pinto 30 Years Old Tawny                               <br />
        B: 22.00 </p>
      <hr />
            <p>$15.00 Corkage</p>
  </div><!--end menu content-->
  </div><!-- end bgMid-->
<div class="menuBGbottom"></div>
</div><!-- end menu div -->
