<div class="home">

<!-- container for the slides -->
<div class="images">

  <!-- first slide -->
  <div>
    <img src="images/gallery/left01.jpg" /><img src="images/gallery/center01.jpg" /><img src="images/gallery/right01.jpg" />
  </div>

  <!-- second slide -->
  <div>
    <img src="images/gallery/left02.jpg" /><img src="images/gallery/center02.jpg" /><img src="images/gallery/right02.jpg" />
  </div>

  <!-- third slide -->
  <div>
    <img src="images/gallery/left03.jpg" /><img src="images/gallery/center03.jpg" /><img src="images/gallery/right03.jpg" />
  </div>

</div>

<!-- the tabs -->
<div class="slidetabs">
  <a href="#"><img src="images/gallery/left01.jpg" /><img src="images/gallery/center01.jpg" /><img src="images/gallery/right01.jpg" /></a>
  <a href="#"></a>
  <a href="#"></a>
</div>

<div style="clear:both;margin:30px 0;text-align:center;padding-right:40px">

</div>

</div><!--End HOME div-->
