<div class="menu"> 

    <div class="menuBox">

    <p class="menuTitle">LUNCH MENU</p>
    <p class="menuTitle"><a href="images/babita-lunch-menu.pdf" title="Wine List" target="_blank">Download PDF</a></p>
<hr />
            
      <p class="menuHeading">• APPETIZERS •</p>
            <p>SUPER NACHOS<br />
              <em>Topped with beef, chicken, beans, sour cream, lettuce, tomatoes and guacamole </em><br />
            8.25<br />
            </p>
            <p>EL TORO NACHOS<br />
              <em>Topped with shrimp, steak, chicken and vegestables</em><br />
              10.99<br />
          </p>
            <p>NACHOS WITH CHEESE<br />
            4.25<br />
          </p>
            <p>NACHOS w/BEANS, BEEF<br />
            4.99<br />
          </p>
            <p>CHICKEN<br />
            5.25<br />
          </p>
            <p>NACHOS w/CHEESE, CHORIZO<br />
              5.99 <br />
          </p>
            <p>TAQUITOS(4 with Guacamole)<br />
              4.99<br />
          </p>
            <p>POBLANO JALAPENO POPPERS<br />
            4.99<br />
          </p>
            <p>CHEESE DIP<br />
              3.25<br />
          </p>
            <p>CHORIZO DIP<br />
            4.50 <br />
          </p>
            <p>GUACAMOLE DIP<br />
            3.25<br />
          </p>
            <p>TORO DIP<br />
              <em>Beans, ground beef, queso sauce and pico de gallo </em><br />
              4.25</p>
          </p>
            <p>TORO FRIES<br />
              <em>Ground beef and queso sauce </em><br />
            4.75<br />
          </p>
            <p>TORO SOUP<br />
              <em>Shredded chicken with rice, avocado and pico de gallo </em><br />
            3.50<br />
          </p>

      <hr />

      <p class="menuHeading">• ENTREES •</p>
            <p>COCHINITA PIBIL<br />
              <em>Achiote pork, baked in banana leaves served with pickled cabbage and onion</em><br />
            18.95<br />
          </p>
            <p>POC CHUC<br />
              <em>Pan sauteed anato adobado pork , served with fried banana, pickled cabbage and onion</em><br />
            18.95<br />
          </p>
            <p>MIXIOTE<br />
              <em>Lamb shank marinated in spices, beer and chiles, baked-steamed in beer</em><br />
              21.95<br />
          </p>
            <p>CHICKEN AND SHRIMP “ELBA”<br />
              <em>Sauteed,  in a tequila-banana-chipotle sauce,over chayote gratin</em><br />
            21.95<br />
          </p>
            <p>BARBACOA “Beef Cheeks” <br />
              <em>Braised tender and served with chopped cilantro and onion</em><br />
            18.95<br />
          </p>
            <p>POLLO or STEAK PICADO<br />
              <em>Seared tips, in garlic, white wine, tomato and bell pepper sauce </em><br />
              17.95<br />
          </p>
            <p>CARNE ASADA<br />
              <em>Skirt marinated in lime and spices served over potato salad, radish and salsamex</em><br />
            17.95<br />
          </p>
            <p>CHILE RELLENO<br />
              <em>With potato, jack cheese, roasted garlic, chicharron sauce, over “Colachi”</em><br />
            17.95<br />
          </p>
            <p>ENCHILADAS DE POLLO EN MOLE POBLANO<br />
              <em>Cilantro, onion, cheese and cremamex </em><br />
              19.95</p>

      <hr />

      <p class="menuHeading">• SEAFOOD •</p>
            <p>PESCADO PICADO<br />
              <em>Saute fresh catch with bell pepper, tomato, jalapeno, white wine and cumin</em><br />
            18.95<br />
          </p>
            <p>SAUTE  SALMON. Over “Colachi”<br />
              <em>Sinaloa’s classic calabacita “Zucchini” relish and jack cheese</em><br />
            19.95<br />
          </p>
            <p>SAUTE CRISPY RED SNAPPER<br />
              <em>Epasote crust and “Mango-Lime Salsa</em><br />
            ”                                                  18.95<br />
          </p>
            <p>SAUTE SHRIMP “Topolobampo”<br />
              <em>Super hot habanero, mustard, tomato and white wine sauce</em><br />
            20.95<br />
            </p>
            
            <hr />
            
          <p class="lunchTXT">GIFT CERTIFICATES<br />
            TAKE OUT- PRIVATE PARTIES- CATERING<br />
              18 % Gratuity will be Added to Parties of 7 or More<br />
            </p>
  
    </div>
</div><!-- end menu div -->
