<div class="menu"> 

    <div class="menuBox">

    <p class="menuTitle">LUNCH MENU</p>
    <p class="menuTitle"><a href="images/babita-lunch-menu.pdf" title="Wine List" target="_blank">Download PDF</a></p>
<hr />
            
      <p class="menuHeading">• APPETIZERS •</p>
            <p>PANUCHOS YUCATECOS<br />
              <em>Tostadas w/ black beans, pollo pibil, pickled cabbage-onion (2 per order)</em><br />
            10.95<br />
            </p>
            <p>FRESH GUACAMOLE<br />
              <em>Pepared to order, habanero timbale</em><br />
              8.95<br />
          </p>
            <p>QUESADILLA DE POLLO<br />
              <em>Jack cheese and garnished with cream, salsamex  and guacamole </em><br />
            10.95<br />
          </p>
            <p>SOPA NUEVA<br />
              <em>Soup of the day</em><br />
            7.95<br />
          </p>
            <p>BABITA GREEN SALAD<br />
              <em>Tomato, cucumber, nopales, and guacamaya vinaigrette</em><br />
            7.95<br />
          </p>
            <p>BABITA  CAESAR  SALAD<br />
              <em>Classic preparation, real egg and anchovy</em><br />
              8.95 <br />
          </p>
            <p>SHREDDED PICKLED SALAD<br />
              <em>Onion, cabbage, salsamex, cotija and lettuce with house vinaigrette</em><br />
              8.95<br />
          </p>
            <p>BRENDA’S SALAD<br />
              <em>Lettuce, tomato, carrot, mango, cactus, jack cheese, pepino and mango vinaigrette</em><br />
            8.95<br />
          </p>
            <p>CEVICHE SOPE “witusi”<br />
              <em>Fresh snapper marinated in lime juice. lacing of beans and carrot julienne </em><br />
              9.95<br />
          </p>
            <p>SOPE SAMMY<br />
              <em>Beans, shredded chicken, iceberg, salsamex, jack cheese and jus</em><br />
            9.95 <br />
          </p>
            <p>SALSA DE HABANERO. “Extra hot”<br />
              <em>Tomato, onion, cilantro and habanero vinaigrette</em><br />
            4.95<br />
          </p>
            <p>FRIED BANANAS<br />
              <em>Served with cremamex and Balsamic Reduction </em><br />
              7.95</p>

      <hr />

      <p class="menuHeading">• ENTREES •</p>
            <p>COCHINITA PIBIL<br />
              <em>Achiote pork, baked in banana leaves served with pickled cabbage and onion</em><br />
            18.95<br />
          </p>
            <p>POC CHUC<br />
              <em>Pan sauteed anato adobado pork , served with fried banana, pickled cabbage and onion</em><br />
            18.95<br />
          </p>
            <p>MIXIOTE<br />
              <em>Lamb shank marinated in spices, beer and chiles, baked-steamed in beer</em><br />
              21.95<br />
          </p>
            <p>CHICKEN AND SHRIMP “ELBA”<br />
              <em>Sauteed,  in a tequila-banana-chipotle sauce,over chayote gratin</em><br />
            21.95<br />
          </p>
            <p>BARBACOA “Beef Cheeks” <br />
              <em>Braised tender and served with chopped cilantro and onion</em><br />
            18.95<br />
          </p>
            <p>POLLO or STEAK PICADO<br />
              <em>Seared tips, in garlic, white wine, tomato and bell pepper sauce </em><br />
              17.95<br />
          </p>
            <p>CARNE ASADA<br />
              <em>Skirt marinated in lime and spices served over potato salad, radish and salsamex</em><br />
            17.95<br />
          </p>
            <p>CHILE RELLENO<br />
              <em>With potato, jack cheese, roasted garlic, chicharron sauce, over “Colachi”</em><br />
            17.95<br />
          </p>
            <p>ENCHILADAS DE POLLO EN MOLE POBLANO<br />
              <em>Cilantro, onion, cheese and cremamex </em><br />
              19.95</p>

      <hr />

      <p class="menuHeading">• SEAFOOD •</p>
            <p>PESCADO PICADO<br />
              <em>Saute fresh catch with bell pepper, tomato, jalapeno, white wine and cumin</em><br />
            18.95<br />
          </p>
            <p>SAUTE  SALMON. Over “Colachi”<br />
              <em>Sinaloa’s classic calabacita “Zucchini” relish and jack cheese</em><br />
            19.95<br />
          </p>
            <p>SAUTE CRISPY RED SNAPPER<br />
              <em>Epasote crust and “Mango-Lime Salsa</em><br />
            ”                                                  18.95<br />
          </p>
            <p>SAUTE SHRIMP “Topolobampo”<br />
              <em>Super hot habanero, mustard, tomato and white wine sauce</em><br />
            20.95<br />
            </p>
            
            <hr />
            
          <p class="lunchTXT">GIFT CERTIFICATES<br />
            TAKE OUT- PRIVATE PARTIES- CATERING<br />
              18 % Gratuity will be Added to Parties of 7 or More<br />
            </p>
  
    </div>
</div><!-- end menu div -->
