<h1>Gallery#show</h1>


<%= link_to "Show mah Fancybox!", '#hello', class: "grouped_elements" %>

     
    <div style="display:none;">
     <a id="hello"><img src="assets/cute-monster.jpg" alt=""height="500" width="500"/></a>
 <!--     <a id="hello"><img src="assets/monster.jpg" alt=""height="500" width="500"/></a>
 -->
     <!-- <a class="grouped_elements" rel="group1" href="image_big.jpg"><img src="assets/cute-monster.jpg" alt="hey"/></a>
     <a class="grouped_elements" rel="group1" href="image_big.jpg"><img src="assets/cute-monster.jpg" alt="yo"/></a>   
     <a class="grouped_elements" rel="group1" href="image_big.jpg"><img src="assets/cute-monster.jpg" alt="howdy"/></a> 
     <a class="grouped_elements" rel="group1" href="image_big.jpg"><img src="assets/cute-monster.jpg" alt="yep"/></a> -->
    </div>
    </div>
