<div class="footer">
  <p>1823 S. San Gabriel Blvd. San Gabriel, CA 91776 | tel: (626) 288-7265 fax: (626) 573-9757<br />
    <a href="http://maps.google.com/maps?client=safari&rls=en&q=1823+S.+San+Gabriel+Blvd.+San+Gabriel,+CA+91776&oe=UTF-8&um=1&ie=UTF-8&hq=&hnear=0x80c2dabd3ceeb7d1:0xbc005b7c3fd6eb94,1823+S+San+Gabriel+Blvd,+San+Gabriel,+CA+91776&gl=us&ei=VIKxTo78D87UiAKy6bUS&sa=X&oi=geocode_result&ct=image&resnum=1&ved=0CBwQ8gEwAA" title="Map" target="_blank"><u>Map</u></a><br />
  </p>
  <p><u>HOURS</u><br />
    Lunch: Tuesday thru Friday 11:30am to 2:30pm<br />
    Dinner: Tuesday thru Thursday 5:30pm to 9:00pm | Friday and Saturday 5:30pm to 10:00pm<br />
    Close on Sundays and Mondays
  </p>
</div>