<div class="title">
  <%=image_tag ("babitas-web-logo.png"), size:"536x102", alt:"Logo" %>
</div>
<div class="nav">• <a href="home" title="Home">Home</a> | <a href="about" title="About">About</a> | <a href="lunch" title="Lunch">Lunch</a> | <a href="dinner" title="Dinner">Dinner</a> | <a href="drinks" title="Drinks">Drinks</a> | <a href="gallery" title="Gallery">Gallery</a> •</div>